/node_modules
/oh_modules
/.preview
/build
/.cxx
/.test

# Build folders
build/
.gradle/

# Compiled files
*.class

# Local config
local.properties

# Environment / secrets
*.env
*.properties

# VS Code
.vscode/

# Mac
.DS_Store
