/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer

# Build folders
build/
.gradle/

# Compiled files
*.class

# Local config
local.properties

# Environment / secrets
*.env
*.properties

# VS Code
.vscode/

# Mac
.DS_Store
